In [1]:
import pandas as pd
import numpy as np
s1=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx", sheet_name=1)

In [2]:
s1.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0

### Checking for null values

In [3]:
s1.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

### converting float values to int

In [4]:
df=pd.DataFrame(s1)
df.CCAvg = df.CCAvg.astype(int)

### Applying Logistic Regression

In [5]:
Y=s1['Personal Loan']
X=s1[[ 'Age', 'Experience', 'Income', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']]
import statsmodels.api as sm
x1=sm.add_constant(X)
Logistic=sm.Logit(Y,x1)
result=Logistic.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.128331
         Iterations 9

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.5942
Time:                        12:06:39   Log-Likelihood:                -641.66
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1701      1.642     -7.413      0.000     -15.388      -8.952
Age                   -0.0532      0.061     -0.871      0.384      -0.173       0.067
Experience             0.0637      0.061      1.049      0.294      -0.055       0.183
Income                 0.0545      0.003     20.838      0.000       0.049       0.060
Family                 0.6956      0.074      9.353      0.000       0.550       0.841
CCAvg                  0.1300      0.040      3.288      0.001       0.053       0.208
Education              1.7406      0.115     15.093      0.000       1.515       1.967
Mortgage               0.0005      0.001      0.880      0.379      -0.001       0.002
Securities Account    -0.9368      0.286     -3.278      0.001      -1.497      -0.377
CD Account             3.8173      0.324     11.776      0.000       3.182       4.453
Online                -0.6764      0.157     -4.305      0.000      -0.984      -0.368
CreditCard            -1.1165      0.205     -5.449      0.000      -1.518      -0.715
======================================================================================
"""

# inferences

##### p value of  attribute Income, Family, CCAvg, Education, Securities Account, CD Account, Online, CreditCard is less than 0.05 
##### so Income, Family, CCAvg, Education, Securities Account, CD Account, Online, CreditCard are highly significant for the sanction of loan