# SVM Assignment

In [3]:
import pandas as pd
from sklearn import preprocessing

In [4]:
s=pd.read_csv('train.csv')
s.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
l_encoder=preprocessing.LabelEncoder()
encoded_g=l_encoder.fit_transform(s['Sex'])
s['Sex']=encoded_g
s['Embarked']=l_encoder.fit_transform(s['Embarked'])

In [6]:
s=s.drop(['Cabin','PassengerId','Name','Ticket'],axis=1)
s.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

# Implementing Support Vector Machine

In [7]:
def SVM1(a,b):
    from sklearn.model_selection import train_test_split
    from sklearn import svm
    from sklearn.metrics import accuracy_score
    from sklearn.metrics import confusion_matrix
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
    clf=svm.SVC(gamma=0.01, C=100)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    a=accuracy_score(y_test,y_pred,normalize=True)
    m = confusion_matrix(y_test,y_pred)
    return a,m

# Pclass vs  remaining attributes

In [8]:
y=s['Pclass']
X=s.drop(['Pclass'],axis=1)
p1=SVM1(X,y)
p1

(0.9026217228464419,
 array([[ 64,   4,   2],
        [  4,  36,   9],
        [  1,   6, 141]], dtype=int64))

### Accuracy score=  90.2%

# Sibsp vs remaining attributes

In [9]:
y=s['SibSp']
X=s.drop(['SibSp'],axis=1)
p1=SVM1(X,y)
p1

(0.7490636704119851,
 array([[150,  24,   7,   0,   1,   0,   0],
        [ 21,  39,   5,   0,   0,   0,   0],
        [  4,   1,   3,   0,   0,   0,   0],
        [  0,   2,   1,   3,   1,   0,   0],
        [  0,   0,   0,   0,   2,   0,   0],
        [  0,   0,   0,   0,   0,   1,   0],
        [  0,   0,   0,   0,   0,   0,   2]], dtype=int64))

### Accuracy score=74.9%

# Parch vs remaining attributes

In [10]:
y=s['Parch']
X=s.drop(['Parch'],axis=1)
p1=SVM1(X,y)
p1

(0.797752808988764,
 array([[187,   6,   5,   0,   0,   0],
        [ 21,  15,   3,   0,   0,   1],
        [ 10,   6,  11,   0,   0,   0],
        [  0,   0,   1,   0,   0,   0],
        [  1,   0,   0,   0,   0,   0],
        [  0,   0,   0,   0,   0,   0]], dtype=int64))

### Accuracy score=79.7%

# Embarked vs remaining attributes

In [11]:
y=s['Embarked']
X=s.drop(['Embarked'],axis=1)
p1=SVM1(X,y)
p1

(0.7677902621722846,
 array([[ 23,   2,  24],
        [  0,   8,  14],
        [ 18,   4, 174]], dtype=int64))

### Accuracy Score=76.7%

# Gender vs remaining attributes

In [12]:
y=s['Sex']
X=s.drop(['Sex'],axis=1)
p1=SVM1(X,y)
p1

(0.7265917602996255,
 array([[ 66,  32],
        [ 41, 128]], dtype=int64))

### Accuracy Score=72.6%

# Survived vs remaining attributes

In [13]:
y=s['Survived']
X=s.drop(['Survived'],axis=1)
p1=SVM1(X,y)
p1

(0.7415730337078652,
 array([[124,  33],
        [ 36,  74]], dtype=int64))

### Survived vs remaining attributes 74.1%